/* Style for deal actions container */
.deal-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* Style for deal fields container */
.deal-fields {
  flex: 5;
  display: flex;
  justify-content: space-around;
}

/* Style for deal item container */
.deal-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

/* Style for deal item properties */
.deal-item-prop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px; /* Adjust spacing between properties */
}

/* Style for deal item property titles */
.deal-item-title {
  font-weight: bold;
  margin-right: 5px; /* Adjust spacing between title and value */
}


.confirm-button,
.reject-button, 
.more-info-button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.confirm-button {
  background-color: #4caf50; /* Green background color */
}

.more-info-button {
  background-color: #3498DB; 
  margin-right:10px;
}

.reject-button {
  background-color: #f44336; /* Red background color */
  margin-right: 10px;
}

/* Style hover effect for buttons */
.confirm-button:hover,
.reject-button:hover,
.more-info-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  /* Stack deal fields and actions vertically on smaller screens */
  .deal-actions,
  .deal-fields,
  .deal-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .deal-item-prop {
    margin-right: 0; /* Adjust spacing for mobile */
  }

  .confirm-button,
  .reject-button,
  .more-info-button {
    margin-right: 0;
    margin-bottom: 10px; /* Add bottom margin for spacing between buttons */
    padding: 8px 12px; /* Adjust padding for better touch interaction */
  }
}
