/* Style the buttons inside the tab */
/* .tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-left: 5px;
    transition: 0.3s;
    font-size: 17px;
    background-color: #e5acd8;
    border-top-left-radius: 10px; /* Rounded corners for the first button */
/* border-top-right-radius: 10px; Rounded corners for the last button */
/* } */

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #eee9e9;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #eee9e9;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  margin-top: 0; /* Remove top margin */
}

#allTabsDesign {
  display: block;
  flex-wrap: wrap;
  align-items: flex-start; /* Align items to the start of the flex container */
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  max-width: 96%;
  justify-content: center;
  margin-right: 10px;
  height: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #eee9e9;
}

.tab {
  overflow: hidden;
  border-radius: 8px 8px 0 0; /* Adjust border-radius for top corners */
  margin-top: 10px;
  margin-right: 10px;
}

.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  margin-left: 5px;
  transition: 0.3s;
  font-size: 17px;
  background-color: #e5acd8;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: "Open Sans Hebrew", sans-serif;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  border-radius: 0 0 8px 8px; /* Adjust border-radius for bottom corners */
}
