#searchPanel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

form div {
  display: flex;
  flex-direction: column;
  margin-right: 15px; /* Spacing between inputs */
}

/* Style adjustments for inputs and selects to make them look uniform */
input[type="text"],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="number"],
select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #df94cd;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

@media (max-width: 768px) {
  .book-item {
    width: calc(50% - 20px); /* 2 items per row on smaller screens */
    height: calc(10%);
  }
  form {
    flex-direction: column;
  }

  form div {
    width: 100%; /* Full width on small screens */
    margin-right: 0; /* No right margin on small screens */
  }
  .books-container {
    grid-template-columns: 1fr; /* Full width items on small screens */
  }
}

#autocomplete-dropdown {
  position: absolute;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  display: none;
}

#autocomplete-dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#autocomplete-dropdown li:hover {
  background-color: #e0e0e0;
}

.book-detail-page {
  max-width: 800px; /* or any max-width you prefer */
  margin: 0 auto; /* This centers the container */
  padding: 20px;
  background-color: #fff; /* Adjust background color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}

.book-item-detail {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
  padding: 20px;
}

.book-image-detail {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.book-info {
  text-align: center; /* Center the text for RTL reading */
  margin-top: 20px; /* Add some space above the book info */
}

.proposal-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px; /* Space out form elements */
}

.submit-button {
  text-align: center; /* Center the submit button */
}

.submit-button input[type="submit"] {
  width: auto; /* Only as wide as necessary */
  padding: 10px 20px; /* Larger click area */
  background-color: #9C27B0; /* A nice purple, for example */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button input[type="submit"]:hover {
  background-color: #7B1FA2; /* A darker purple on hover */
}
/* Reset default link styles within book items */
.books-container .book-item a {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Keeps the text color consistent with the rest of the content */
  display: block; /* Makes the link fill the container for clickability */
}

/* Optional: Add a hover effect for the book items */
.books-container .book-item:hover {
  background-color: #f0f0f0; /* Slight background color on hover */
  transition: background-color 0.3s ease;
}

/* Style the book item content */
.books-container .book-item {
  border: 1px solid #ddd; /* Adds a subtle border */
  padding: 15px;
  border-radius: 5px; /* Rounds corners */
  margin: 10px; /* Adds space between items */
  text-align: center; /* Centers the text */
}

.books-container .book-item img {
  max-width: 100%; /* Makes sure the image is responsive */
  height: auto; /* Maintains the aspect ratio */
}
