body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  margin-right: auto;
  padding-bottom: 60px; /* Adjust this value based on the footer height */
}

section {
  text-align: center;
}

#img_home {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 1em;
  
}

h2 {
  text-align: right;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px; /* Padding on the sides */
  margin-bottom: 20px;
  justify-content: center;
}

.book-item {
  background: #fff; /* White background */
  border: 1px solid #ddd; /* Light border for each item */
  border-radius: 10px; /* Rounded corners for the items */
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  width: calc(20% - 32px); /* Adjusting for 4 items per row with some margin */
  margin: 16px; /* Keeps a consistent margin, adjust as needed */
  height: 300px;
  justify-content: flex-end;
}

.book-item img {
  max-width: 50% !important;
  height: auto !important; /* Maintains the aspect ratio */
}


.book-item #bookName, #book_author_name {
  text-align: center; /* Center text for title and price */
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* For tablets and below */
@media (max-width: 768px) {
  .books-container .book-item {
    width: calc(50% - 20px); /* 2 items per row */
    margin: 10px;
  }
}

/* For very small screens, like mobile phones */
@media (max-width: 480px) {
  .books-container .book-item {
    width: 90%; /* 1 item per row */
    margin: 10px auto; /* Center the book items */
  }
}
